header {
    padding-bottom: 70px;
}

section {
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;

}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-info__img {
    width: 418px;
    height: 405px;
    object-fit: cover;
}

.main-info__htb {
    display: flex;
    flex-direction: column;
    max-width: 579px;
}

.main-info__headline {
    color: #FFF;
    font-family: "Inter";
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}

.main-info__text {
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.7;
}

.main-info__btn {
    display: flex;
    padding: 0;
    width: 327px;
    justify-content: center;
    align-items: center;
    background: #7A66CC;
    border: 0;
    cursor: pointer;
}

.main-info__btn:hover {
    background: #9B8DD2;
}

.main-info__btn a {
    color: #FFF;
    font-family: 'OpenSans';
    padding: 15px 77px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: 0;
}

.opport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 376px;
    align-items: center;
}

.opport__img {
    width: 488px;
    height: 376px;
    object-fit: cover;
}

.opport-info {
    display: flex;
    flex-direction: column;
    max-width: 572px;
}

.opport-info__headline {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    color: #FFF;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.opport-info__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    list-style-type: none;
    gap: 17px;
}

.opport-info__item p {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.opport-info__item {
    background: url(../img/list.svg) no-repeat left center;
    padding-left: 22px;
}

.profit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profit-info {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.profit__img {
    width: 488px;
    height: 376px;
    object-fit: cover;
}

.profit-info__headline {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-family: "Inter";
}

.profit-info__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    list-style-type: none;
    gap: 17px;
}

.profit-info__item p {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-family: "Inter";
}

.profit-info__item {
    background: url(../img/list.svg) no-repeat left center;
    padding-left: 22px;
}

.types {
    display: flex;
    flex-direction: column;
}

.types__headline {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}

.types__list {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.tabs-nav__btn {
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
}

.tabs-nav__btn--active {
    color: #7A66CC;
}

.types__content {
    display: none;
}

.types__content--active {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
}

.types__img {
    width: 488px;
    height: 342px;
}

.types-info {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.types-info__headline {
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.types-info__text {
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.types-info__btn {
    display: flex;
    padding: 0;
    width: 327px;
    justify-content: center;
    align-items: center;
    background: #7A66CC;
    border: 0;
    cursor: pointer;
}

.types-info__btn:hover {
    background-color: #9B8DD2;
}

.types-info__btn a {
    color: #FFF;
    font-family: 'OpenSans';
    padding: 15px 113px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: 0;
}

@media screen and (max-width: 1195px) {
    .opport {
        gap: 30px;
    }

    .opport__img {
        width: 450px;
        height: 350px;
    }

    .opport-info__list {
        gap: 11px;
    }

    .profit {
        gap: 20px;
    }

    .profit__img {
        width: 450px;
        height: 350px;
    }

    .main-info {
        gap: 30px;
    }

    .types__content {
        gap: 30px;
    }
}

@media screen and (max-width: 980px) {
    .main-info {
        gap: 40px;
    }

    .main-info__img {
        width: 350px;
        height: 300px;
    }

    .main-info__headline {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .main-info__text {
        font-size: 16px;
    }

    .main-info__btn {
        width: 325px;
    }

    .opport__img {
        width: 350px;
        height: 325px;
        object-fit: inherit;
    }

    .opport-info__headline {
        font-size: 28px;
        padding-bottom: 10px;
    }

    .opport-info__item p {
        font-size: 14px;
    }

    .opport-info__list {
        gap: 9px;
    }

    section {
        padding-bottom: 70px;
    }

    .profit-info__headline {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .profit-info__item p {
        font-size: 14px;
    }

    .profit-info__list {
        gap: 9px;
    }

    .profit__img {
        width: 350px;
        height: 325px;
        object-fit: inherit;
    }

    .types__img {
        width: 400px;
        height: 325px;
        object-fit: inherit;
    }

    .types-info__headline {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .types-info__btn {
        width: 238px;
    }

    .types-info__btn a {
        padding: 15px 75px;
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .nav__item a {
        font-size: 16px;
    }

    .main-info__text {
        font-size: 14px;
    }

    .types__list {
        margin-bottom: 40px;
    }

    .types-info__headline {
        font-size: 18px;
    }

    .types-info__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 815px) {
    header {
        padding-bottom: 30px;
    }

    .main-info {
        flex-direction: column;
        gap: 20px;
    }

    .main-info__img {
        order: 1;
        width: 100%;
        height: 250px;
        padding-bottom: 20px;
    }

    .main-info__htb {
        order: 2;
    }

    .main-info__text {
        margin-bottom: 20px;
    }

    .main-info__htb {
        max-width: 700px;
    }

    .opport {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .opport-info {
        max-width: 700px;
    }

    .opport__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding-bottom: 20px;
    }

    .profit {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .profit-info {
        max-width: 700px;
        order: 2;
    }

    .profit__img {
        width: 100%;
        object-fit: cover;
        order: 1;
        height: 250px;
        padding-bottom: 20px;
    }

    .types__content {
        flex-direction: column;
    }

    .types__img {
        width: 100%;
        object-fit: cover;
        order: 1;
        height: 300px;
    }

    .types-info {
        order: 2;
    }

    .types-info__text {
        margin-bottom: 20px;
    }

    .types__headline {
        font-size: 28px;
        padding-bottom: 30px;
    }

    .types__list {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 490px) {
    .types__img {
        height: 250px;
    }

    .main-info__img {
        height: 250px;
    }

    .opport__img {
        height: 250px;
    }

    .profit__img {
        height: 250px;
    }

    .main-info__btn {
        width: 280px;
    }

    .main-info__btn a {
        padding: 15px 65px;
        font-size: 14px;
    }

    .main-info {
        gap: 0;
        align-items: center;
    }

    .profit {
        gap: 0;
        align-items: center;
    }

    .opport {
        gap: 0;
        align-items: center;
    }
}

@media screen and (max-width: 460px) {
    .opport-info__headline {
        font-size: 24px;
    }

    .profit-info__headline {
        font-size: 20px;
    }

    .types__headline {
        font-size: 22px;
    }

    section {
        padding-bottom: 50px;
    }

    .types__list {
        gap: 30px;
    }
}

@media screen and (max-width: 400px) {
    .types__img {
        height: 190px;
    }

    .main-info__img {
        height: 210px;
    }

    .opport__img {
        height: 210px;
    }

    .profit__img {
        height: 210px;
    }

    .main-info__text span {
        display: none;
    }

    .opport-info__headline {
        font-size: 18px;
    }

    .profit-info__headline {
        font-size: 18px;
    }
}